{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Estilo.css'%}">
    <title>Access</title>
</head>

<body>

    <div class="fondo">
        <!-- nav -->

        <body>
            <div class="fondo">
                <!-- nav -->
                <nav class="navbar navbar-expand-lg navbar-light bg-success ">
                    <a class="navbar-brand" href="{% url 'principal'%}"> <img src="{% static 'Img/libros.jpg'%}" width="30" height="30" alt=""> Librería M&Ns</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'principal'%}" target="_blank">Home<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>

                        <form class="d-flex">
                            <input class="form-control mr-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-dark" type="submit">Búsqueda</button>
                        </form>
                    </div>
                </nav>

                <!-- Formulario -->


                <h1 class="text-light text-md-center">Access</h1>
                <div class="container bg-success">
                    <div class="row">

                        <form action="procesar.html" id="formulario">
                            <div class="form-row">
                                <div class="form-group col-md-4 text-light">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                                </div>
                                <div class="form-group col-md-4 text-light">
                                    <label for="nombre">Apellidos</label>
                                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Apellidos">
                                </div>
                                <div class="form-group col-md-4 text-light">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-4 text-light">
                                    <label for="contraseña">Contraseña</label>
                                    <input type="password" maxlength="10" name="contraseña" id="contraseña" class="form-control" value="1234567890">
                                </div>
                                <div class="form-group col-md-4 text-light">
                                    <label for="contraseña">Cofirmar contraseña</label>
                                    <input type="password" maxlength="10" name="contraseñaconf" id="contraseñaconf" class="form-control" value="1234567890">
                                </div>
                                <div class="form-group col-md-4 text-light">
                                    <label for="contraseña">Comentarios</label>
                                    <textarea name="comentarios" cols="40" rows="5" placeholder="Comentarios"></textarea>
                                </div>
                            </div>

                            <div class="form group">
                                <input type="submit" value="Send" class="btn btn-primary" id="enviar">
                                <div class="alert alert-danger" id="error">Text error</div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Optional JavaScript; choose one of the two! -->

                <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

                <script>
                    document.querySelector('.button').onclick = function() {
                        var contraseña = document.querySelector('.contraseña').value,
                            contraseñaconf = document.querySelector('.contraseñaconf')
                        if (contraseña == "") {
                            alert("fiel cannot be empty.");
                        } else if (contraseña == contraseñaconf)
                            alert("password didn't match try again");
                        return false
                    }
                </script>
                <script>
                    $(document).ready(function() {
                        $("#error").hide();
                        $("#formulario").submit(function() {
                            var mensaje = "";
                            if ($("#nombre").val().trim().length == 0) {
                                mensaje = "El nombre esta en blanco"
                            }
                            if ($("#email").val().trim().length == 0) {
                                mensaje = "El email está en blanco"
                            }
                            if ($("#rut").val().trim().length == 0) {
                                mensaje = "El rut está en blanco"
                            }
                            if (mensaje != "") {
                                $("#error").html(mensaje);
                                $("#error").show();
                                event.preventDefault();
                            }
                        });
                    });
                </script>
                <!-- pie de página -->
                <br>
                <div class="pie">
                    <div class="container-fluid bg-success text-center p-3 ">
                        <p class="small ">&copy; Todos los derechos reservados : : Librería M&N : : Chile 2021</p>

                    </div>
                    <!-- Option 2: Separate Popper and Bootstrap JS -->

                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

        </body>

</html>